.image-form {
  text-align: center;
}

input {
  width: 40%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
}

button {
  padding: 10px;
  background-color: rgb(0, 184, 255);
  /* lighter of the 2 colors */
  border: 0;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgb(0, 90, 255);
  /* darker of the 2 colors */
}

button:active {
  transform: scale(0.9);
}
